<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lukeheley.recipes-backup</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd "$RECIPES_ROOT" &amp;&amp; exec scripts/backup_recipes.sh scripts/recipes_backup.env</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>RECIPES_ROOT</key>
    <string>/Volumes/Samsung SSD 9100 PRO 1TB/Developer/recipes</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/lukeheley/Library/Logs/recipes-backup.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/lukeheley/Library/Logs/recipes-backup.err.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
